<!DOCTYPE html>
<html>
  <head>
    <title>Головна сторінка</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Головна сторінка</h1>
    <a href="/products">Перейти до списку товарів</a>
  </body>
</html>
