<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome from <%=ownerName%></p>

    <% if(age>=21) { %>
    <h2>Спробуйте пиво</h2>
    <%} else {%>
    <h2>Спробуйте сік !!</h2>
    <%}%>
  </body>
</html>
