<!DOCTYPE html>
<html>
  <head>
    <title>Інформація про товар</title>
  </head>
  <body>
    <h1><%= product.name %></h1>
    <p>Ціна: <%= product.price %></p>
    <a href="/">На головну</a>
    <a href="/products">До списку товарів</a>
  </body>
</html>
